web/LevelShema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="Game">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Level" type="Level" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:complexType name="Level">
		<xs:sequence>
			<xs:element name="Number" type="xs:int"/>
			<xs:element name="FruitsAmount" type="xs:int"/>
			<xs:element name="FruitRange" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>
